    @charset "UTF-8";
    .fotos {
        overflow-x: scroll;
        overflow-y: visible;
    }
    
    ul#album-fotos {
        width: auto;
        margin: 0 auto;
        padding: 0px;
        list-style: none;
        align-items: center;
        border-top: 2px solid #174873;
        border-bottom: 2px solid #174873;
        box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.39);
        overflow-y: hidden;
    }
    
    ul#album-fotos li {
        width: 100px;
        height: 100px;
        margin: 5px;
        border: 5px solid #174873;
        background-color: #fff;
        box-shadow: 1px 1px 3px #00000066;
        -webkit-transition: all .4s ease-in;
    }
    
    ul#album-fotos li span {
        opacity: 0;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        background-color: rgba(0, 0, 0, .3);
        font-size: 9pt;
        line-height: 370px;
        padding: 5px;
    }
    
    ul#album-fotos li:hover {
        /*-webkit-transform: scale(3);*/
        width: 210px;
        height: 210px;
    }
    
    ul#album-fotos li:hover span {
        opacity: 1;
    }
    
    ul#album-fotos li#foto01 {
        background: url('../img/Sobral/at.jpg') no-repeat;
        background-position: 50% 50%;
        background-color: #fff;
    }
    
    ul#album-fotos li#foto01:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }
    
    ul#album-fotos li#foto02 {
        background: url('../img/Sobral/75497668_2366626576981962_5475683556908859392_o.jpg') no-repeat;
        background-position: 50% 50%;
        background-size: 200px 200px;
        background-color: #fff;
    }
    
    ul#album-fotos li#foto02:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }
    
    ul#album-fotos li#foto03 {
        background: url('../img/Sobral/78393574_2390753667902586_4281893102018363392_o.jpg') no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }
    
    ul#album-fotos li#foto03:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }
    
    ul#album-fotos li#foto04 {
        background: url('../img/Sobral/78416001_2390753717902581_1316875374256193536_o.jpg') no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
    }
    
    ul#album-fotos li#foto04:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }
    
    ul#album-fotos li#foto05 {
        background: url('../img/Sobral/78791149_2390753891235897_4263191646180474880_o.jpg') no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
    }
    
    ul#album-fotos li#foto05:hover {
        background-position: 0px 0px;
        background-size: 200px 200px;
    }
    
    ul#album-fotos li#foto06 {
        background: url('../img/Sobral/67566073_2284095068568447_646624476217212928_o.jpg') no-repeat;
        background-position: 50% 50%;
        background-size: 400px 400px;
        background-color: #fff;
    }
    
    ul#album-fotos li#foto06:hover {
        background-position: 0px 0px;
        background-size: 100% 100%;
    }
    
    @media (min-width: 576px) {
        ul#album-fotos {
            width: auto;
            height: 60vh;
            margin: 0 auto;
            padding: 0px;
            list-style: none;
            border-right: 2px solid #174873;
            border-left: 2px solid #174873;
            border-top: none;
            border-bottom: none;
            margin-top: 20px;
            overflow-y: scroll;
            box-shadow: none;
            padding: 0%;
        }
    }
    
    @media (min-width: 768px) {}
    
    @media (min-width: 992px) {
        ul#album-fotos {
            width: auto;
            height: 60vh;
            margin: 0 auto;
            padding: 0px;
            list-style: none;
            border-top: 2px solid #174873;
            border-bottom: 2px solid #174873;
            box-shadow: 1px 2px 2px 2px rgb(0, 0, 0);
            margin-top: 20px;
            overflow-y: scroll;
            overflow-x: scroll;
        }
    }
    
    @media (min-width: 1200px) {}