@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html {
    scroll-behavior: smooth;
}


/*AREA DO CABEÇALHO*/

header {
    text-align: center;
    min-height: 5vh;
}

header#barra_sup {
    background-color: #174873;
}

header img {
    height: 80px;
}

nav#menu_sup {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    background-color: white;
}


/*AREA DO CARROSSEL*/

section#carrousel {
    /*background-color: teal;*/
    min-height: 25vh;
    text-align: center;
}


/*ONDE ESTAMOS*/

.onde_estamos {
    height: 100%;
    text-align: center;
    padding: 10px;
    background-color: white;
    scroll-behavior: smooth;
}

.onde_estamos img {
    opacity: 0.8;
}

.onde_estamosh1 {
    color: #174873;
    font-size: 28pt;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.801);
    font-family: 'Anton', sans-serif;
    border-bottom: 1px solid #174873;
    margin-bottom: 0px;
    margin-top: 8px;
}

.onde_estamos i {
    color: #174873bd;
    font-size: 8pt;
    text-shadow: 1px 1px 1px rgba(204, 203, 203, 0.87);
    margin-top: 2px;
    padding: 0.2rem;
    box-shadow: 1px 1px 4px rgba(172, 169, 165, 0.788);
}

.onde_estamos h2 {
    color: #15536b;
    font-family: 'Merienda', cursive;
    font-size: 16pt;
    margin-top: 4px;
}

#canvas {
    width: 100px;
}


/*CONTATOS*/

section#contatos {
    background-color: #1c2f3a;
    min-height: 55vh;
    text-align: center;
}


/*FORMULÁRIOS*/

.bg {
    background-color: #253944;
    border: none;
}

.bg:focus {
    background-color: #253944;
    border: none;
}

section h3 {
    color: rgb(216, 212, 204);
    margin-left: 10px;
    margin-top: 10px;
}


/*BOTÕES*/

.bt_menu {
    background-color: #253944;
    box-shadow: 1px 1px 1px rgba(172, 169, 165, 0.788);
    border: none;
    width: 70%;
}

.bt:hover {
    background-color: #6193ad;
    transition: .8s;
}

.btn-one {
    color: rgba(255, 255, 255, 0.877);
    transition: all 0.3s;
    position: relative;
    width: 8rem;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: -10px;
}

.btn-one i {
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1.5);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    border-radius: 10%;
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10%;
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
    border-radius: 10%;
}


/*BANNER*/

.banner {
    max-height: 60vh;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.904);
    width: 100%;
}

.banner img {
    height: 60vh;
    width: 100%;
}

.chamada h1 {
    color: #174873;
    font-size: 40pt;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.801);
    font-family: 'Cantora One', sans-serif;
}

.chamada h2 {
    color: #15536b;
    font-family: 'Merienda', cursive;
}

.chamada i {
    opacity: 0.5;
    color: #15536b;
    font-size: 18pt;
    margin: 2px;
}

.chamada i:hover {
    opacity: 1;
    color: #2395c2;
    font-size: 22pt;
}


/*ICONES*/

.social-icons {
    padding: 0px;
}

.social-icons a {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: #15536b;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
}

.social-icons a:last-child {
    margin-right: 0
}

.social-icons a:hover {
    background-color: #2089b3
}

.icons a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.774);
    border-radius: 100%;
    text-align: center;
    font-size: 1rem;
    margin-right: 0.8rem;
    margin-left: -5px;
}

.icons a:last-child {
    margin-right: 0
}

.icons a:hover {
    color: rgb(255, 255, 255);
}

footer {
    min-height: 60px;
    background-color: #1a2830;
    border-top: 1px solid rgba(27, 26, 26, 0.596);
    box-shadow: 1px 1px 1px #BDBDBD;
}

footer img {
    width: 16vh;
}

.btn-3 {
    color: #174873;
    background: none;
    border: none;
}

.btn-3:hover {
    font-weight: bolder;
    text-decoration-color: #174873;
    color: #174873;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid #174873;
    border-bottom: 1px solid #174873;
    transition: 1s;
    display: block;
    max-width: 576px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.map_iframe {
    width: auto;
    height: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* MEDIA QUERIES - CONFIGURAÇÃO DOS BREACKPOINTS */

@media (min-width: 576px) {
    /*BANNER*/
    .banner {
        max-height: 80vh;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.904);
        width: 100%;
    }
    .banner img {
        height: 80vh;
        width: 100%;
    }
    .social-icons a {
        display: inline-block;
        height: 5rem;
        width: 5rem;
        background-color: #15536b;
        color: #fff!important;
        border-radius: 100%;
        text-align: center;
        font-size: 2.5rem;
        line-height: 5rem;
    }
    .map_iframe {
        margin: 20px;
        margin-left: 30px;
        width: auto;
        height: auto;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .btn-one {
        color: rgba(255, 255, 255, 0.877);
        transition: all 0.3s;
        position: relative;
        width: 11rem;
        margin-top: 6px;
        margin-bottom: 6px;
        padding: 8px;
    }
    .btn-one i {
        color: white;
        font-size: 14pt;
    }
    .banner {
        max-height: 80vh;
        max-width: 100vh;
        border: 2px solid #174873;
        margin: 10px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.801);
    }
    .banner img {
        height: 60vh;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .social-icons a {
        display: inline-block;
        height: 3rem;
        width: 3rem;
        background-color: #15536b;
        color: #fff!important;
        border-radius: 100%;
        text-align: center;
        font-size: 1.3rem;
        line-height: 3rem;
    }
    .btn-3 {
        color: #174873;
        background: none;
        border: none;
        width: auto;
        margin: 0px;
        padding: 0px;
        font-size: 11pt;
    }
    .btn-3:hover {
        font-weight: bolder;
        text-decoration-color: #174873;
        color: #174873;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-top: 1px solid #174873;
        border-bottom: 1px solid #174873;
        transition: 1s;
        display: block;
        max-width: 576px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 992px) {
    .btn-3 {
        font-size: 12pt;
    }
}

@media (min-width: 1200px) {
    .btn-2 {
        letter-spacing: 0;
    }
    .btn-2:hover,
    .btn-2:active {
        letter-spacing: 5px;
    }
    .btn-2:after,
    .btn-2:before {
        backface-visibility: visible;
        border: 1px solid rgba(black, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
    }
    .btn-2:hover:after,
    .btn-2:hover:before {
        backface-visibility: visible;
        border-color: black;
        transition: width 350ms ease-in-out;
        width: 70%;
    }
    .btn-2:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
    }
    .btn-3 {
        color: #174873;
        background: none;
        border: none;
        font-size: 12pt;
    }
    .btn-3:hover {
        font-weight: bolder;
        text-decoration-color: #174873;
        color: #174873;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-top: 1px solid #174873;
        border-bottom: 1px solid #174873;
        transition: 1s;
    }
}